<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gl.dao.SaleOrderMapper">

    <select id="getsaleOrder" resultType="com.gl.domain.SaleOrder">
        select  gsmc, t1.ckmc, t1.khmc,t2.ksmc,t2.xstm,t2.gfje
        from xsddsh t1
                 inner join xsddsb t2
                            on t1.djlsh = t2.djlsh
        where t1.rq between '2022-01-01' and '2022-09-01'


    </select>
    <resultMap id="getsaleOrder" type="com.gl.domain.SaleOrder">
        <result column="djlsh" property="djlsh"/>
        <result column="gsmc" property="gsmc"/>
        <result column="ckmc" property="ckmc"/>
        <result column="khmc" property="khmc"/>
        <result column="ksmc" property="ksmc"/>
        <result column="xstm" property="xstm"/>
        <result column="gfje" property="gfje"/>
    </resultMap>

</mapper>