<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.dao.UserMapper">
    <!-- <select id="getU" resultMap="getU">
         select user_id ,user_name,user_password,user_email from tb_user
         <where>
             <choose>
                 <when test="user_name !=null and user_name !=''">
                     user_name=#{user_name}
                 </when>
             </choose>
         </where>
     </select>
     <resultMap id="getU" type="com.zc.domain.Users">
         <result column="user_id" property="user_id"/>
         <result column="user_name" property="user_name"/>
         <result column="user_password" property="user_password"/>
         <result column="user_email" property="user_email"/>
     </resultMap>
     <select id="getListUser" resultType="com.zc.domain.Users">

         select user_id ,user_name,user_password,user_email from tb_user
         <where>
             <choose>
                 <when test="user_name !=null and user_name !=''">
                     user_name=#{user_name}
                 </when>
             </choose>
         </where>


     </select>
     <resultMap id="getListUser" type="com.zc.domain.Users">
         <result column="user_id" property="user_id"/>
         <result column="user_name" property="user_name"/>
         <result column="user_password" property="user_password"/>
         <result column="user_email" property="user_email"/>
     </resultMap>-->
    <select id="getsaleOrder" resultType="com.zc.domain.SaleOrder">
        select t1.djlsh,t1.gsmc, t1.ckmc, t1.khmc,t2.ksmc,t2.xstm,t2.gfje
        from xsddsh t1
                 inner join xsddsb t2
                            on t1.djlsh = t2.djlsh



    </select>
    <resultMap id="getsaleOrder" type="com.zc.domain.SaleOrder">
        <result column="djlsh" property="djlsh"/>
        <result column="gsmc" property="gsmc"/>
        <result column="ckmc" property="ckmc"/>
        <result column="khmc" property="khmc"/>
        <result column="ksmc" property="ksmc"/>
        <result column="xstm" property="xstm"/>
        <result column="gfje" property="gfje"/>
    </resultMap>


    <select id="getListUser" resultType="com.zc.domain.Users"/>
    <select id="getU" resultType="com.zc.domain.Users"/>
</mapper>